<a href="https://colab.research.google.com/github/saubhagyamaurya/MachineLearning/blob/main/MultipuleLinearRegression1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv("Advertising.csv",index_col=0)
data

        TV  Radio  Newspaper  Sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

Discription of Dataset

In [ ]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

Information of Dataset

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

Inslise the Independent Variable

In [ ]:
X = data.iloc[:,:-1]
print(X)
print(X.shape)

        TV  Radio  Newspaper
1    230.1   37.8       69.2
2     44.5   39.3       45.1
3     17.2   45.9       69.3
4    151.5   41.3       58.5
5    180.8   10.8       58.4
..     ...    ...        ...
196   38.2    3.7       13.8
197   94.2    4.9        8.1
198  177.0    9.3        6.4
199  283.6   42.0       66.2
200  232.1    8.6        8.7

[200 rows x 3 columns]
(200, 3)

Inslize the Dependent Variable

In [ ]:
y = data.iloc[:,3]
y
print(y.shape)

(200,)

Taking care missing value

In [ ]:
from sklearn.impute import SimpleImputer
si = SimpleImputer()
X = si.fit_transform(X)

Spliting the Dataset Into test and train

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.1, random_state = 42)

Fitting MRL to the Training Dataset

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

Predicting on the Dataset

In [ ]:
y_pred = regressor.predict(X_test)
y_pred

array([16.36298922, 20.7912515 , 21.58006443, 10.49229619, 22.06488332,
       13.01380338, 21.00643569,  7.48770971, 13.73616094, 15.17183991,
        9.03043544,  6.69565172, 14.41194798,  8.84738904,  9.78081712,
       12.2362979 ,  8.65790391, 16.303416  , 10.26495433, 18.87027292])

In [ ]:
import matplotlib.pyplot as plt
x = np.arange(len(y_test))
width = 0.30

fig, ax = plt.subplots()
fig = plt.figure(figsize=(20, 8))

rects1 = ax.bar(x-width/2, y_test, width, label = 'Actual')
rects2 = ax.bar(x+width/2, y_pred, width, label = 'Pred')

ax.set_ylabel('Profit')
ax.set_title('Predict Vs Actual')
ax.legend()   

ax.bar_label(rects1,padding = 5)
ax.bar_label(rects2,padding = 5)

fig.tight_layout()
plt.show()

AttributeError: ignored

ImportError: ignored